<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h2 class='page-title'>アカウント一覧</h2>

    <%= will_paginate %>

    <% @users.each do |user|%>
      <div>
        <p><%= user.username %></p>
        <p><%= user.email%></p>
      </div>
    <% end %>

    <%= will_paginate %>

  </div>
</div>
