<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<div>
  <% @contacts.each do |contact| %>
    <p><%= contact.title %></p>
    <p><%= contact.content %></p>
  <% end %>
</div>
