// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-image {
  text-align:  center;
  margin: 10px;
}

#field-image {
  text-align: center;
  display: inline-block;
}
