.page-title {
  text-align: center;
  margin: 30px;
}

.submit-btn {
  margin-top: 10px;
}

#profile {
  margin-top: 30px;
}

#user-profile {
  display: inline-block;
  vertical-align: middle;
}

.user-upper {
  display: inline-block;
}

.user-middle {
  display: inline-block;
}

.profile_bar {
  margin-top: 20px;
  border-top: solid 1px #DDDDDD;
}

.user-post {
  margin-top: 30px;
}

.setting {
  margin-left: 20px;
}

.profile-setting {
  display: inline-block;
}
