<footer class="navbar bg-white">
  <small>
    The <a href="https://github.com/Rayreds98/insta_app">Insta App(source code)</a>
    by <a href="https://github.com/Rayreds98">Ray Horiuchi</a>
  </small>
  <small>
    <ul>
      <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </small>
</footer>
